<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>absolutePosition</key>
	<false/>
	<key>angle</key>
	<real>18.5</real>
	<key>angleVariance</key>
	<real>196.1237030029297</real>
	<key>blendFuncDestination</key>
	<integer>771</integer>
	<key>blendFuncSource</key>
	<integer>1</integer>
	<key>configName</key>
	<string>Sparcle1_particle</string>
	<key>duration</key>
	<string>0.10</string>
	<key>emitterType</key>
	<string>0</string>
	<key>finishColorAlpha</key>
	<string>0.00</string>
	<key>finishColorBlue</key>
	<string>1.00</string>
	<key>finishColorGreen</key>
	<string>0.71</string>
	<key>finishColorRed</key>
	<string>0.59</string>
	<key>finishColorVarianceAlpha</key>
	<string>0.00</string>
	<key>finishColorVarianceBlue</key>
	<real>0</real>
	<key>finishColorVarianceGreen</key>
	<real>0</real>
	<key>finishColorVarianceRed</key>
	<real>0</real>
	<key>finishParticleSize</key>
	<string>0.00</string>
	<key>finishParticleSizeVariance</key>
	<string>0.00</string>
	<key>gravityx</key>
	<string>0.00</string>
	<key>gravityy</key>
	<real>-65.37999725341797</real>
	<key>maxParticles</key>
	<integer>100</integer>
	<key>maxRadius</key>
	<string>100.00</string>
	<key>maxRadiusVariance</key>
	<string>0.00</string>
	<key>minRadius</key>
	<string>0.00</string>
	<key>minRadiusVariance</key>
	<string>0.00</string>
	<key>particleLifespan</key>
	<string>0.6386</string>
	<key>particleLifespanVariance</key>
	<string>0.4359</string>
	<key>positionType</key>
	<integer>0</integer>
	<key>radialAccelVariance</key>
	<string>0.00</string>
	<key>radialAcceleration</key>
	<string>-181.54</string>
	<key>rotatePerSecond</key>
	<string>0.00</string>
	<key>rotatePerSecondVariance</key>
	<string>0.00</string>
	<key>rotationEnd</key>
	<string>0.00</string>
	<key>rotationEndVariance</key>
	<string>0.00</string>
	<key>rotationStart</key>
	<string>0.00</string>
	<key>rotationStartVariance</key>
	<string>0.00</string>
	<key>sourcePositionVariancex</key>
	<integer>100</integer>
	<key>sourcePositionVariancey</key>
	<integer>100</integer>
	<key>speed</key>
	<string>100.00</string>
	<key>speedVariance</key>
	<string>50.00</string>
	<key>startColorAlpha</key>
	<real>1</real>
	<key>startColorBlue</key>
	<real>0.9761850833892822</real>
	<key>startColorGreen</key>
	<real>0.9899020195007324</real>
	<key>startColorRed</key>
	<real>1</real>
	<key>startColorVarianceAlpha</key>
	<real>0</real>
	<key>startColorVarianceBlue</key>
	<real>0</real>
	<key>startColorVarianceGreen</key>
	<real>0</real>
	<key>startColorVarianceRed</key>
	<real>0</real>
	<key>startParticleSize</key>
	<string>15.00</string>
	<key>startParticleSizeVariance</key>
	<string>5.00</string>
	<key>tangentialAccelVariance</key>
	<real>106.5</real>
	<key>tangentialAcceleration</key>
	<real>0</real>
	<key>textureFileName</key>
	<string></string>
	<key>textureImageData</key>
	<string></string>
	<key>yCoordFlipped</key>
	<integer>1</integer>
</dict>
</plist>
