<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>absolutePosition</key>
    <false/>
    <key>angle</key>
    <integer>0</integer>
    <key>angleVariance</key>
    <integer>360</integer>
    <key>blendFuncDestination</key>
    <integer>771</integer>
    <key>blendFuncSource</key>
    <integer>772</integer>
    <key>configName</key>
    <string>effect_welldone_sahua</string>
    <key>duration</key>
    <integer>-1</integer>
    <key>emitterType</key>
    <integer>0</integer>
    <key>finishColorAlpha</key>
    <real>0.619608</real>
    <key>finishColorBlue</key>
    <real>0.086275</real>
    <key>finishColorGreen</key>
    <real>0.909804</real>
    <key>finishColorRed</key>
    <real>0.803922</real>
    <key>finishColorVarianceAlpha</key>
    <integer>0</integer>
    <key>finishColorVarianceBlue</key>
    <real>0.976471</real>
    <key>finishColorVarianceGreen</key>
    <real>0.976471</real>
    <key>finishColorVarianceRed</key>
    <real>0.419608</real>
    <key>finishParticleSize</key>
    <integer>9</integer>
    <key>finishParticleSizeVariance</key>
    <integer>15</integer>
    <key>gravityx</key>
    <integer>0</integer>
    <key>gravityy</key>
    <integer>-420</integer>
    <key>maxParticles</key>
    <integer>90</integer>
    <key>maxRadius</key>
    <integer>100</integer>
    <key>maxRadiusVariance</key>
    <integer>0</integer>
    <key>minRadius</key>
    <integer>0</integer>
    <key>particleLifespan</key>
    <real>1.8</real>
    <key>particleLifespanVariance</key>
    <real>0.1</real>
    <key>positionType</key>
    <integer>0</integer>
    <key>radialAccelVariance</key>
    <integer>0</integer>
    <key>radialAcceleration</key>
    <integer>0</integer>
    <key>rotatePerSecond</key>
    <integer>0</integer>
    <key>rotatePerSecondVariance</key>
    <integer>0</integer>
    <key>rotationEnd</key>
    <integer>0</integer>
    <key>rotationEndVariance</key>
    <integer>90</integer>
    <key>rotationStart</key>
    <integer>0</integer>
    <key>rotationStartVariance</key>
    <integer>90</integer>
    <key>sourcePositionVariancex</key>
    <integer>300</integer>
    <key>sourcePositionVariancey</key>
    <integer>0</integer>
    <key>speed</key>
    <integer>0</integer>
    <key>speedVariance</key>
    <integer>70</integer>
    <key>startColorAlpha</key>
    <real>0.607843</real>
    <key>startColorBlue</key>
    <real>0.54902</real>
    <key>startColorGreen</key>
    <real>0.627451</real>
    <key>startColorRed</key>
    <real>0.47451</real>
    <key>startColorVarianceAlpha</key>
    <integer>0</integer>
    <key>startColorVarianceBlue</key>
    <real>0.67451</real>
    <key>startColorVarianceGreen</key>
    <integer>1</integer>
    <key>startColorVarianceRed</key>
    <real>0.894118</real>
    <key>startParticleSize</key>
    <integer>33</integer>
    <key>startParticleSizeVariance</key>
    <integer>20</integer>
    <key>tangentialAccelVariance</key>
    <integer>0</integer>
    <key>tangentialAcceleration</key>
    <integer>0</integer>
    <key>yCoordFlipped</key>
    <integer>1</integer>
    <key>spriteFrameUuid</key>
    <string>bbe27c0d-0cee-4ec3-a1a2-501c6a8ec3ec</string>
  </dict>
</plist>